html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: black;
  overflow: hidden;
}

#fadeContainer {
  position: fixed;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: black;
  transition: opacity 4.5s ease-in-out;
  opacity: 1;
  z-index: 9999;
}

#fullscreen-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: black;
  background-size: fill;
  /* match your object-fit: fill behavior */
  background-repeat: no-repeat;
  background-position: center;
  z-index: 9999;
}

img.fullscreen {
  width: 100vw;
  height: 100vh;
  object-fit: fill;
  display: block;
  background-color: black;
  /* ensures loading gaps stay black */
}

.bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: black;
  background-size: fill;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0;
  transition: opacity 0.0s ease-in-out;
  z-index: 9999;
}

.bg.visible {
  opacity: 1;
}

#menu-frame {
  width: 50vh;   /* swapped so it looks right after rotation */
  height: 50vw;
  border: none;
  border-radius: 1rem;
  box-shadow: 0 0 20px rgba(0,0,0,0.7);
  background: transparent;

  transform: rotate(270deg);
  transform-origin: center center;
}

#collection-menu-frame {
  width: 50vh;   /* swapped so it looks right after rotation */
  height: 50vw;
  border: none;
  border-radius: 1rem;
  box-shadow: 0 0 20px rgba(0,0,0,0.7);
  background: transparent;

  transform: rotate(270deg);
  transform-origin: center center;
}